%div
  %div
    訂單編號:
    = order.order_no
  %div
    訂單類型:
    = order.period ? '定期配送' : '一般訂單'

  - if order.period
    %div
      每期金額:
      = order.period_amount
    %div
      訂閱時間:
      = order.duration / 30
      個月
    %div
      訂閱週期:
      - if order.period_type == 'M'
        =  order.frequency
        月 / 次
      - else
        =  order.frequency / 7
        週 / 次




