#new_article_app.col-md-9
  %h1 Edit Article
  = form_for [:admin, article] do |f|
    %div.form-group
      = f.label :title, "Title"
      = f.text_field :title, class: 'form-control'
    %div.form-group
      = f.label :content, "Content"
      = f.text_area :content, class: 'form-control'

    = f.submit class: 'btn btn-dark'
