#order
  .content
    .row
      .col-md-6
        // 訂單資訊
        .info-box
          %h5
            訂單資訊
          %div
            訂單編號:
            = order.order_no
          %div
            訂單類型:
            = order.period ? '定期配送' : '一般訂單'
          %div
            訂單狀態:
            = order.status_name

          %div
            訂單品項:
            = order.items.last.product_name

          - if order.period
            %div
              每期金額:
              = order.period_amount
            %div
              訂閱時間:
              = order.duration / 30
              個月
            %div
              訂閱週期:
              - if order.period_type == 'M'
                =  order.frequency
                月 / 次
              - else
                =  order.frequency / 7
                週 / 次
            %div
              付款狀態:
              = order.payment_name
            - if order.paid?
              %div
                付款時間:
                = order.paid_at.to_s(:complete)
      .col-md-6
        // 配送資訊
        .info-box
          %h5
            配送資訊
          %div
            訂購人姓名:
            = order.shipping_address.name
          %div
            訂購人信箱:
            = order.shipping_address.email
          %div
            訂購人電話:
            = order.shipping_address.phone
          %div
            訂購人地址:
            = order.shipping_address.address


      // 定期訂單資訊
      - if order.period?
        // 本期訂單
        .col-md-6
          .info-box
            %h5
              本期訂單
            %div
              本期金額:
              = current_period_order.amount
            %div
              訂單期數:
              = current_period_order.no
            %div
              訂單品項:
              = order.items.last.product_name
            %div
              付款狀態:
              = current_period_order.paid ? '已付款' : '尚未付款'
            %div
              訂單狀態:
              = current_period_order.status_name
            %div
              配送狀態:
              = current_period_order.shipping_name
        // 下期訂單
        - if next_period_order.present?
          .col-md-6
            .info-box
              %h5
                下期訂單
              %div
                預計日期:
                = next_period_order.expected_date.to_s(:date)
