= javascript_pack_tag 'account/order'
= stylesheet_pack_tag 'account/order'

#account-order-app
  / loader
  %loader
  .content
    .btn.button-normal(v-if=" perparingBtnShow " v-on:click='periodOrderPreparing')
      烘培中
    ///////   infos  ////////
    .row
      .col-md-6
        // 訂單資訊
        .info-box
          %h5
            訂單資訊
          %div
            訂單編號:
            {{order.order_no}}
          %div
            訂單類型:
            {{order.type}}
          %div
            訂單狀態:
            {{order.status_name}}

          %div
            訂單品項:
            = order.items.last.product_name

          - if order.period
            %div
              每期金額:
              = order.period_amount
            %div
              訂閱時間:
              = order.duration / 30
              個月
            %div
              訂閱週期:
              - if order.period_type == 'M'
                =  order.frequency
                月 / 次
              - else
                =  order.frequency / 7
                週 / 次
            %div
              付款狀態:
              %span(v-bind:class='{ unpaid: isUnpaid }')
                {{order.payment_name}}
      .col-md-6
        // 配送資訊
        .info-box
          %h5
            配送資訊
          %div
            訂購人姓名:
            = order.shipping_address.name
          %div
            訂購人信箱:
            = order.shipping_address.email
          %div
            訂購人電話:
            = order.shipping_address.phone
          %div
            訂購人地址:
            = order.shipping_address.address


      // 定期訂單資訊
      // 本期訂單
      .col-md-6
        - if current_period_order.present?
          .info-box
            %h5
              本期訂單
            %div
              本期金額:
              {{currentPeriodOrder.amount}}
            %div
              訂單期數:
              {{currentPeriodOrder.no}}
            %div
              訂單品項:
              = order.items.last.product_name
            %div
              付款狀態:
              {{currentPeriodOrder.paid_name}}
            %div
              訂單狀態:
              {{currentPeriodOrder.status_name}}
            %div
              配送狀態:
              {{currentPeriodOrder.shipping_name}}
      // 下期訂單
      .col-md-6(v-if="order.status == 'subscribe' ")
        - if next_period_order.present?
          .info-box
            %h5
              下期訂單
            %div
              預計烘培日:
              = next_period_order.expected_date.to_s(:date)



// PROPS
#props(data="#{props}")
#order-json(data="#{order_json}")
#current-period-order-json(data="#{current_period_order_json}")


