%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %a.navbar-brand{:href => "#"} CTCM
  %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      .nav-item.nav-link.active
        = link_to 'Home', root_path
        %span.sr-only (current)
      .nav-item.nav-link.active
        = link_to '方便去後台', admin_root_path
      .nav-item.nav-link
        - if current_user
          %span
            = "會員ID: #{current_user.id}"
        - else
          = link_to '登入', new_user_session_path
      .nav-item.nav-link
        - if current_user
          = link_to '我的訂單', orders_path
      .nav-item.nav-link
        - if current_user
          = link_to '登出', destroy_user_session_path,method: 'delete'
