.user_navbar
  .nav-left.inline-block
    #nav-logo.d-flex
      #logo-left
      #logo-right
  .nav-right.inline-block.mr-4
    %div.font-15.ml-4
      = link_to '長期訂購', '#'
    %div.font-15.ml-4
      = link_to 'SHOP', '#'
    %div.font-15.ml-4
      = link_to 'ABOUT', '#'
    %div.font-15.ml-4
      = link_to 'BLOG', '#'
    / vue 組件
    %div.font-15.ml-4
      %navbar-user-controller(v-bind:current_user="current_user" v-bind:user_login='user_login')

    %div.icon-link(style='margin-left: 40px;')
      %a{:href => "#", 'target' =>"_blank"}
        = icon('fab', 'facebook-f')
    %div.icon-link.ml-4
      %a{:href => "https://www.instagram.com/altitudetosteriacafe", 'target' =>"_blank"}
        = icon('fab', 'instagram')
    // 購物車
    %div.icon-link(style='margin-left: 30px;')
      %a{:href => ""}
        %i#cart.fas.fa-shopping-cart
    #cart-count.ml-3
      %div.center
        0
