  <h1>編輯商品</h1>

  <%= form_for @product, url: admin_product_path(@product), html: { method: :put } do |f| %>
    <%= f.label :title, "商品名稱" %>
    <%= f.text_field :title %> <br />

    <%= f.label :description, "商品介紹" %>
    <%= f.text_area :description %> <br />

    <%= f.label :price, "商品價格" %>
    <%= f.text_field :price %> <br />

    <%= f.label :quantity, "商品數量" %>
    <%= f.text_field :quantity %> <br />

    <%= f.submit %>
  <% end %>



  <br />
  <%= link_to '回商品列表', admin_products_path %>