#new_product_app
  %h1 新增商品
  = form_for product, url: admin_products_path(product), html: { method: :post } do |f|
    %div.form-group
      = f.label :title, "商品名稱"
      - if product.errors.full_messages_for(:title).size > 0
        = product.errors.full_messages_for(:title)
      = f.text_field :title, class: 'form-control'

    %div.form-group
      = f.label :img, "Image"
      %br/
      = f.file_field :img

    %hr

    %h5
      Variants
    .d-flex.justify-content-between.align-items-baseline(v-for='(variant, index) in variants' )
      %input.form-control.mt-2(v-model='variant.weight' placeholder='重量')
      %input.form-control.mt-2.ml-2(v-model='variant.price' placeholder='價格')
      %input.form-control.mt-2.ml-2(v-model='variant.quantity' placeholder='數量')
      .fa.fa-times.pointer.ml-2(v-on:click='remove_variant_input(index)')


    .button.mt-2(v-on:click='add_variant_input')
      ADD

    %hr

    / variants input
    %input(type="hidden" name='variants_json' v-model='variants_json')

    %a(href="https://markdown.tw/" target="_blank")
      markdown語法說明

    %div.form-group
      = f.label :description, "商品介紹"
      - if product.errors.full_messages_for(:description).size > 0
        = product.errors.full_messages_for(:description)
      = f.text_area :description, class: 'form-control', 'v-on:input' => 'show_markdown_preview($event)', style: 'min-height: 400px;'

    %div.mb-5
      %h3
        商品介紹預覽
      %div(v-html='markdown_preview')
    %hr


    = f.submit class: 'btn btn-dark fixed-br'
  %br/
  = link_to '回商品列表', admin_products_path

