<!DOCTYPE html>
<html>
  <head>
    <title>Ctcm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
  </head>

  <body class="container-fluid">
    <div class="row">
      <div class="wrapper col-md-3 d-none d-md-block">
        <%= render  'share/admin/side_bar' %>
      </div>
      <div class='col-md-9'>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'admin_application' %>
  </body>
</html>
