<!DOCTYPE html>
<html>
  <head>
    <title>Ctcm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>

  <body class="container-fluid">
    <%= render 'share/alert' %>
    <div class="row">
      <div class="wrapper col-md-3 d-none d-md-block">
        <%= render 'share/admin/side_bar' %>
      </div>
      <div class='col-md-9'>
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag 'admin_application' %>
  </body>
</html>
