<!DOCTYPE html>
<html>
  <head>
    <title>Ctcm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all' %>
  </head>

  <body class="container-fluid">
    <div class="row">
      <%= render  'share/admin/side_bar' %>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'admin_application' %>
  </body>
</html>
